.letter-animated-word {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 0.2em;
  white-space: nowrap;
}

.letter-animated-word--transform {
  overflow: hidden;
}


.letter-animated-word--transform > span {
  transform: translate3d(0, 1em, 0);
  display: inline-block;
  vertical-align: middle;
  transition-property: none !important;
}

.shown {
  .letter-animated-word--transform > span {
    transform: translate3d(0, 0, 0);
    transition-property: transform !important;
  }
}