$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$c-dark-opacity-0: #5f458c00;
$c-dark-opacity-100: #5f458cff;
$c-light-opacity-0: #ffffff00;
$c-light-opacity-100: #ffffffff;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;
